:root {
  --main-brand-color: rgb(49, 97, 120);
  --light-accent: rgb(64, 183, 194); /* Brings attention to an element */
  --dark-accent: rgb(69, 128, 169); /* Brings attention to an element */
  --light-shades: rgb(245, 209, 131); /* Background color for dark on light designs/Text color for inverted designs  */
  --dark-shades: rgb(51, 31, 49); /* Background color for inverted designs/Text color for dark on light designs  */
  --app-light-background: linear-gradient(45deg, rgb(245, 209, 131), rgba(245, 209, 131, 0.274));
  --app-dark-background: linear-gradient(45deg, rgb(51, 31, 49), rgba(51, 31, 49, 0.329));
  --app-main-brand-background: linear-gradient(45deg, rgb(49, 97, 120), rgba(49, 98, 120, 0.733));
}

.App {
  text-align: center;
  background-image: var(--app-light-background); /* Use App-light-section colors for the default background */
  color: var(--dark-shades);
}

.App-header {
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0% 100%);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% calc(100% - 3.1vw));
  margin-bottom: -3.1vw;
}

.App-footer {
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0% 100%);
  clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% calc(100% - 0vw));
  margin-top: -3.1vw;
}

.App-header, .App-footer {
  background-color: black;
  color: white;
  margin-bottom: -3.1vw;
}

.App-dark-section {
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0% 100%);
  clip-path: polygon(0 0%, 100% 10%, 100% 90%, 0% 100%);
}

.App-dark-section, .App-dark-article {
  background-image: var(--app-dark-background);
  color: var(--light-shades);
}

.App-light-article {
  background-image: var(--app-light-background);
  color: var(--dark-shades);
}

.App-nav {
  background-image: var(--app-main-brand-background);
  color: var(--light-shades);
}

.button {
  color: blue;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-nav {
  border-radius: 0.5em;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 2px var(--light-accent);
  min-height: 5vh;
  position: fixed;
  top: 0;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(5px + 2vmin);
}

.App-dark-section {
  min-height: 60vh;
}

.App-light-section {
  min-height: 50vh;
}

.App-dark-section, .App-light-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-dark-article, .App-light-article {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-footer {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: var(--light-accent);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
